{% extends 'layout.html' %}

{% block body %}
<h1> Agradecimientos </h1>
<table>
    <tr>
        <td style="width: 15%;"></td>
        <td style="text-align: justify;">
            <h5>
                <p>
                    <br> <br>
                    Agradecemos al Director de Informática por haber presentado nuestra propuesta a la Dirección del Instituto para evaluación para ser incluída en el portfolio de proyectos para el año 2022. <br> <br>
                    
                    Agradecemos el acompañamiento recibido por la Universidad Nacional de Lomas de Zamora, a nuestro profesor Carlos Ruiz por sus consejos y por motivarnos a asumir el riesgo de adentrarnos en el desarrollo de esta aplicación con tecnologías que desconocíamos. <br><br>

                    Agradecemos especialmente a nuestras familias por acompañarnos estos dos años en esta aventura que emprendimos a esta altura de nuestras carreras. <br><br>

                    
                </p>
            </h5>
        </td>
        <td style="width: 15%;"></td>
    </tr>
</table>



{% endblock %}