{% extends 'layout.html' %}

{% block body %}

{% if session['rol'] == 1 %}
<div class="row">
    <div class="col md-7">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <table id="myTable2" class="table table-striped table-bordered bg-white table-sm">

            <h2>
                {{dato}}
                <button rigth style="float: right; background-color: #7dcf7d; color: white;" class="btn " data-toggle="modal"
                    data-target=".bd-example-modal-sm"><i class="fas fa-plus"></i> Nuevo</button>
            </h2>
            <!-- Small modal -->
            <br>
            <form action="/add_atributo/{{cv.0.2}}" method="POST">
                <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
                    aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <h2 style="text-align: center;"> Nuevo </h2>
                            <hr>
                            &nbsp;
                            <label for="idioma"></label> {{dato}} </label>
                            <br>
                            <input type="text" name="idioma" id="idioma" required placeholder="Ingrese el nuevo atributo"
                                minlength="1" maxlength="70" size="70" class="form-control">
                            <button type="submit" class="btn btn-primary" rigth style="float: right">
                                Crear
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <thead>
                <tr>
                    <td style="text-align: center;"><strong>Id</strong></td>
                    <td onclick="sortTable(1)" ><strong>{{dato}}</strong> &nbsp;&nbsp; <i class="fas fa-sort"> </i></td>
                    <td style="text-align: center;"><strong>Nueva Descripción</strong></td>
                    <td style="text-align: center;"><strong>Eliminar</strong></td>
                </tr>
            </thead>
            <tbody>
                {% for c in cv %}
                <tr>

                    <td style="text-align: center;"> {{ c.5 }} </td>
                    <td> {{ c.1 }} </td>
                    <td>
                        <form action="/edit_atributo/{{c.2}}" method="POST">
                            <div class="editaratrib">
                                <input type="hidden" name="atribOld" id="atribOld" required
                                    placeholder="Ingrese el nuevo nombre" minlength="1" maxlength="30" size="30"
                                    class="form-control" value="{{c.1}}">
                                <input type="text" name="atribNew" id="atribNew" required
                                    placeholder="Ingrese el nuevo nombre" minlength="1" maxlength="30" size="30"
                                    class="form-control">
                                <button class="buttatrib" type="submit" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar"><i style="color: white;" class="fas fa-edit"></i></button>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form action="/deleteatributo/{{c.2}}" method="POST">
                            <input type="hidden" name="idatrib" id="idatrib" value="{{c.0}}">
                            <button type="submit" class="buttoneliminar btn-delete" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i style="color: white;" class="fas fa-trash-alt"></i></button>
                        </form>
                        <!-- <a href="/deleteatributo/{{c.0}}" class="btn btn-danger">Eliminar</a> -->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("myTable2");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
    </script>


{% endif %}


{% endblock %}