{% extends 'layout.html' %}

{% block body %}
<div class="position-fixed" style="left: 50px;">
    <a style="left: 200; color: black;" onclick="goBack()"><i class="fas fa-arrow-circle-left fa-2x"></i></a>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</div>

<div class="row" style="margin-bottom: 100px;">
    <div class="col md-5">
        <form action="/updatejobs/{{busqueda.0}}" method="POST">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h5>Alta de vacante:</h5>
                    </div>
                </div>
                <br>
                <div class="card card-body">
                    <div class="box-container container">
                        </p>
                        <div class="row">
                            <div class="col-sm-12">
                                <small class="pull-right" rigth style="float: right">
                                    <span class="text-danger">*</span>
                                    &nbsp; Campos Obligatorios &nbsp; &nbsp;
                                </small>
                                </h5>
                            </div>
                        </div>
                        </p>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="iddireccion"></label>Dirección</label><br>
                                <br>
                                <input type="hidden" name="iddireccion" id="iddireccion"
                                    value="{{direccio.0}} - {{direccio.1}}">
                                <label for="namedireccion">{{direccio.1}}</label>
                            </div>
                            &nbsp; &nbsp; &nbsp;
                            <div class="col-sm-4">
                                <label for="puesto"></label>Puesto *</label>
                                <input type="text" name="puesto" placeholder="Descripción del cargo" required
                                    minlength="2" maxlength="50" size="50" class="form-control"
                                    value="{{ busqueda.2 }}">
                            </div>
                        </div>
                        <br>

                        </br>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="fecha">Fecha de publicación:</label>
                                <input type="date" id="start" name="fecha" max="{{ busqueda.12 }}"
                                    min="{{ busqueda.11 }}" value="{{ busqueda.3 }}" class="form-control">
                            </div>
                            <div class="col-sm-4">
                                <label for="vacantes"></label>Cantidad de vacantes *</label>
                                <input type="number" name="vacantes" placeholder="Ingrese cantidad de puestos a ocupar"
                                    required minlength="1" maxlength="20" value="{{ busqueda.4 }}" class="form-control">
                            </div>
                        </div>
                        </br>
                        <div class="row">
                            <div class="col-sm-5">
                                <label for="perfil"></label>Perfiles *</label>
                                <select onchange="mostrarBoton('perfil')" name="perfil" id="perfil" required
                                    class="selectpicker form-control">
                                    <option value="{{busqueda.13}}">{{busqueda.13}} - {{busqueda.14}} </option>
                                    {% for p in dataperfil %}
                                    <option value="{{ p.0 }}">{{ p.0 }} - {{ p.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <a class="btn btn-primary" onclick="verAtributos('perfil')" id="btnVer"
                                style="display: none; margin: 14px;">Ver Atributos</a>

                        </div>
                        </br>

                        <div class="row">
                            <div class="col-sm-10">
                                <label for="alcance"></label>Alcance: *</label>
                                <textarea name="alcance" required placeholder="Ingrese el alcance del puesto" required
                                    rows="1" cols="150" class="form-control">{{ busqueda.5 }}
                                </textarea>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-sm-10">
                                <label for="tareas"></label>Tareas *</label>
                                <textarea name="tareas" required placeholder="Ingrese las tareas" required rows="1"
                                    cols="150" class="form-control">{{ busqueda.6 }}
                                </textarea>
                            </div>
                        </div>
                    </div>
                    </br>
                    </br>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" rigth style="float: right; right: -50px; margin-top: -90px;"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar búsqueda">
                <i class="far fa-save fa-2x"></i>
            </button>



        </form>
    </div>
</div>

<script>


    function mostrarBoton() {
        var perfil = document.getElementById('perfil').value;
        if (perfil != "") {
            btnVer.style.display = 'inline';
        }
        else {
            btnVer.style.display = 'none';
        }
    }

    function verAtributos() {
        var perfil = document.getElementById('perfil').value;
        window.location = "/veratributos/" + perfil;
    }
</script>


{% endblock %}