{% extends 'layout.html' %}

{% block body %}

<div class="form group" rigth style="float: right">

    <a href="/nuevopuesto" class="btn btn-primary">Nuevo</a>

</div>

<div class="row">
    <div class="col md-7">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        {% endfor %}
        {% endif %}
        {% endwith %}
<!--         <table class="table table-striped table-bordered bg-white table-sm">
            <h2>Cartelera</h2>
            <thead>
                <tr>
                    <td>Codigo</td>
                    <td>Puesto</td>
                    <td>Dirección</td>
                    <td>Vacantes</td>
                    <td>Email</td>
                    <td>Fecha de Publicación</td>
                    <td>Operaciones</td>
                </tr>
            </thead>
            <tbody>
                {% for trabajo in trabajos %}
                <tr>
                    <td> {{ trabajo.0 }} </td>
                    <td> {{ trabajo.2 }} </td>
                    <td> {{ trabajo.1 }} </td>
                    <td> {{ trabajo.4 }} </td>
                    <td> {{ trabajo.7 }} </td>
                    <td> {{ trabajo.3 }} </td>
                    <td>
                        <a href="/edit/{{trabajo.0}}" class="btn btn-secondary">Editar</a>
                        <a href="/delete/{{trabajo.0}}" class="btn btn-danger btn-delete">Eliminar</a>
                        <a href="/view/{{trabajo.0}}" class="btn btn-primary">Ver</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table> -->
        {% for trabajo in trabajos %}
        <div class="card text-black bg-white mb-2" style="display: block;">
            
            <div class="card-body">
                <h4 class="card-title">{{ trabajo.0 }} | {{trabajo.2}}</h4>
                <p class="card-text"> {{ trabajo.1 }} </p>
                <p class="card-text"> Busqueda Interna | Cod: {{ trabajo.0 }} | Vacantes: {{ trabajo.4 }} </p>
                <a href="/view/{{trabajo.0}}" class="btn btn-success btn-sm">Ver</a>
                <button type="button" class="btn btn-primary btn-sm">Dias: 2 </button>
                <a href="/view/{{trabajo.0}}" class="btn btn-warning btn-sm" rigth style="float: right">Eliminar</a>
                <a href="/view/{{trabajo.0}}" class="btn btn-info btn-sm" rigth style="float: right">Editar</a>

            </div>
            
        </div>
        {% endfor %}
    </div>
</div>








{% endblock%}