{% extends 'layout.html' %}

{% block body %}

{% if session['rol'] == 'admin' %}
<div class="form group" rigth style="float: right">
    
    <a href="/nuevopuesto" class="btn btn-primary">Nuevo</a>

</div>
{% endif %}

<div class="row">
    <div class="col md-7">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h2>Cartelera de trabajos</h2>
        <br>
        {% for trabajo in trabajos %}
        <div class="card text-black bg-white mb-2" style="display: block;">
            
            <div class="card-body">
                <h4 class="card-title">{{ trabajo.0 }} | {{trabajo.2}}</h4>
                <p class="card-text"> {{ trabajo.1 }} </p>
                <p class="card-text"> Busqueda Interna | Cod: {{ trabajo.0 }} | Vacantes: {{ trabajo.4 }} </p>
                <a href="/viewjob/{{trabajo.0}}" class="btn btn-success btn-sm">Ver</a>
                <button type="button" class="btn btn-primary btn-sm">Dias: {{ trabajo.8 }} </button>
                {% if session['rol'] == 'admin' %}
                <a href="/deletejobs/{{trabajo.0}}" class="btn btn-warning btn-sm btn-delete" rigth style="float: right">Eliminar</a>
                <a href="/editjobs/{{trabajo.0}}" class="btn btn-info btn-sm" rigth style="float: right">Editar</a>
                {% endif %}
            </div>
            
        </div>
        {% endfor %}
    </div>
</div>








{% endblock%}