{% extends 'layout.html' %}

{% block body %}

{% if session['rol'] == 1 %}

<div class="position-fixed" style="right: 200px;">
    
    <a href="/nuevopuesto" class="btn btn-primary" rigth style="float: right">Nuevo</a>

</div>
{% endif %}

<div class="row">
    <div class="col md-7">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h2 class="position-fixed" style="margin-top: -20px;">Cartelera de busqueda</h2>
        <br>
        {% for b in busqueda %}
        <div class="card text-black bg-white mb-2" style="display: block;">
            
            <div class="card-body">
                <h4 class="card-title">{{ b.0 }} | {{b.2}}</h4>
                <p class="card-text"> {{ b.1 }} </p>
                <p class="card-text"> Busqueda Interna | Cod: {{ b.0 }} | Vacantes: {{ b.4 }} </p>
                <a href="/viewjob/{{b.0}}" class="btn btn-success btn-sm">Ver</a>
                <button type="button" class="btn btn-primary btn-sm">Dias: {{ b.8 }} </button>
                {% if session['rol'] == 1 %}
                <a href="/deletejobs/{{b.0}}" class="btn btn-warning btn-sm btn-delete" rigth style="float: right">Eliminar</a>
                <a href="/editjobs/{{b.0}}" class="btn btn-info btn-sm" rigth style="float: right">Editar</a>
                {% endif %}
            </div>
            
        </div>
        {% endfor %}
    </div>
</div>








{% endblock%}