{% extends 'layout.html' %}

{% block body %}
<h1> Bienvenido </h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<table  style="margin-bottom: 100px;">
    <tr>
        <td style="width: 15%;"></td>
        <td style="text-align: justify;">
            <h5>
                <p>
                    <br> <br>
                    El programa DePeC es una iniciativa para permitirte gestionar tu Desarrollo Personal de Carrera
                    dentro del INDEC, conectando tus aspiraciones laborales con las necesidades de las distintas áreas
                    del Instituto, para que juntos logremos de forma más eficiente y gratificante alcanzar los objetivos
                    de gestión. <br> <br>
                    Aquí se publicarán búsquedas internas por parte de los Coordinadores o responsables de cada área,
                    podrás cargar y mantener actualizado tu CV y consultar que búsquedas se encuentran activas para
                    postularte en caso que lo desees. <br> <br>
                    El manejo de estas postulaciones te pertenece por completo, podrás inactivar tu postulación o
                    reactivarla en cualquier momento. <br> <br>
                    En caso de ser seleccionado, se iniciará un proceso de entrevistas para el cual serás contactado por
                    el responsable de la búsqueda. <br> <br>
                    DePeC tiene como objetivo principal ayudarte a transitar tu carrera de manera dinámica, acorde a tus
                    progresos y desafíos personales. <br> <br>
                    Tené en cuenta que DePeC es de uso exclusivo para agentes que ya se encuentren desarrollando tareas
                    en INDEC.
                </p>
            </h5>
        </td>
        <td style="width: 15%;"></td>
    </tr>
</table>



{% endblock %}