<form action="/nueva_grilla" method="POST"></form>

<table>
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Telefono</td>
            <td>Email</td>
            <td>Fecha Nacimiento</td>
            <td>Operaciones</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
            <tr>
                <td> {{ contact.1 }} </td>
                <td> {{ contact.2 }} </td>
                <td> {{ contact.3 }} </td>
                <td> {{ contact.4 }} </td>
                <td> {{ contact.5 }} </td>
            </tr>
        {% endfor %}
    </tbody>

</form>