<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DePeC</title>
  
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='image/soloLogo_Indec.png')}}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='image/depec.png')}}" class="avatar2" alt="Avatar Image">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul style="font-size: 16px;" class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/gridcv">CV's</a>
        </li>
        &nbsp;
        &nbsp;
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Busqueda</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/gridjobs">Cartelera</a>
            <a class="dropdown-item" href="/mygridjobs">Mi Cartelera</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
        &nbsp;
        &nbsp;
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Postulación</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Postulaciones</a>
            <a class="dropdown-item" href="/mispostulaciones">Mis Postulaciones</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
        &nbsp;
        &nbsp;
        {% if session['rol'] == 1 %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Atributos</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/atributo/I">Idiomas</a>
            <a class="dropdown-item" href="/atributo/T">Conocimientos Técnicos</a>
            <a class="dropdown-item" href="/atributo/A">Caracteristicas Personales</a>
            <a class="dropdown-item" href="/atributo/E">Estudios Academicos</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
        &nbsp;
        &nbsp;
        <li class="nav-item">
          <a class="nav-link" href="/perfil">Perfil</a>
        </li>
        {% endif %}
      </ul>


    </div>
    <!--       <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    <a href="/logout" class="btn btn-danger" style="float: right;">Cerrar Sesión</a>
  </nav>
  <div class="container pt-4">
    {% block body%}
    {% endblock %}
  </div>
  <!-- Scrips -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
<footer>
  <div>
    <h4 class="footer2"> Usuario: {{session['name']}} {{session['surname']}}
      {% if session['rol'] == 1 %}
      Rol: Admin
      {% else %}
      Rol: User
      {% endif %}
    </h4>
    <h4>DePeC - Desarrollo Personal de Carrera   ---- </h4>
  </div>
  <div>

  </div>


</footer>

</html>