
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DePeC</title>
    <link rel="icon" type="image/png" href="static\image\soloLogo_Indec.png" />
    <!-- <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="login-box">
      <img src="static/image/depec.png" class="avatar" alt="Avatar Image">
      <h1>Login Here</h1>
      <form action="/" method="POST">
        <!-- USERNAME INPUT -->
        <label for="username">Usuario</label>
        <input type="text" name="u" required placeholder="Ingrese su usuario">
        <!-- PASSWORD INPUT -->
        <label for="password">Password</label>
        <input type="password" name="p" required placeholder="Ingrese su contraseña">
        <input type="submit" value="Log In">
<!--         <a href="#">Lost your Password?</a><br>
        <a href="#">Don't have An account?</a> -->
      </form>
    </div>
  </body>
</html>