{% extends 'layout.html' %}

{% block body %}
<h1> Mesa de Ayuda </h1>
<table>
    <tr>
        <td style="width: 15%;"></td>
        <td style="text-align: justify;">
            <h5>
                <p>
                    <br> <br>

                    Para enviarnos tus solicitudes de servicios, por favor ingresa a: <br> <br> <br> <br>

                    <a target="_blank" href="https://jira.indec.gob.ar/servicedesk/customer/portal/31/group/89"> https://jira.indec.gob.ar/servicedesk/customer/portal/31/group/89 </a>
                    <br><br><br><br><br><br>

                    <i  class="fas fa-exclamation-circle fa-2x" style="color: darkgoldenrod;" ></i>
                    <strong> Por favor recordá que debés estar conectado a la VPN </strong>


                </p>
            </h5>
        </td>
        <td style="width: 15%;"></td>
    </tr>
</table>



{% endblock %}