{% extends 'layout.html' %}

{% block body %}


<div class="row">
    <div class="col md-7">



        <br>
        {% for b in busqueda %}
        
        {% if b.3 <= b.13 %}
        <div class="card text-black bg-white mb-2" style="display: block;">

            <div class="card-body">
                <h4 class="card-title">{{ b.0 }} | {{b.2}}</h4>
                <p class="card-text"> {{ b.10 }} </p>
                <p class="card-text"> Búsqueda Interna | Cod: {{ b.0 }} | Vacantes: {{ b.4 }} </p>
                <a href="/viewjob/{{b.0}}" class="btn btn-success btn-sm">Ver</a>
                <button type="button" class="btn btn-primary btn-sm">Dias: {{ b.12 }} </button>
                {% if session['rol'] == 1 %}
                <!-- <a href="/deletejobs/{{b.0}}" class="btn btn-warning btn-sm btn-delete" rigth style="float: right">Eliminar</a>
                <a href="/editjobs/{{b.0}}" class="btn btn-info btn-sm" rigth style="float: right">Editar</a> -->
                {% endif %}
            </div>

        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>








{% endblock %}