{% extends 'layout.html' %}

{% block body %}

<div class="position-fixed" style="left: 50px;">
    <button style="left: 200; background-color: #ff6961; color: white;" class="btn" onclick="goBack()">Regresar</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</div>



<div class="row">
    <div class="row">
        <div class="col md-5">
            <form action="/addnuevopuesto" method="POST">
                <div class="position-fixed" style="right: 50px;">

                    <button type="submit" class="btn" rigth style="float: right; background-color: rgba(75, 95, 150, 0.815);color: white;">
                        Crear Busqueda
                    </button>
                </div>
                <div class="container">
                    <div class="card card-body">
                        <div class="box-container container">
                            </p>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5>Datos de la vacante
                                        <small class="pull-right" rigth style="float: right">
                                            <span class="text-danger">*</span>
                                            &nbsp; Campos Obligatorios &nbsp; &nbsp;
                                        </small>
                                    </h5>
                                </div>
                            </div>
                            </p>
                            <div class="row">
                                <div class="col-sm-5">
                                    <label for="iddireccion"></label>Dirección</label><br>
                                    <br>
                                    <input type="hidden" name="iddireccion" id="iddireccion"
                                        value="{{direccio.0}} - {{direccio.1}}">
                                    <label for="namedireccion">{{direccio.1}}</label>
                                </div>
                                &nbsp; &nbsp; &nbsp;
                                <div class="col-sm-5">
                                    <label for="puesto"></label>Puesto *</label>
                                    <input type="text" name="puesto" placeholder="Descripción del cargo" required
                                        minlength="2" maxlength="50" size="50" class="form-control">
                                </div>
                            </div>
                            </br>
                            </br>
                            <div class="row">
                                <div class="col-sm-5">
                                    <label for="fecha">Fecha:</label>
                                    <input type="date" id="start" name="fecha" class="form-control"
                                        value="{{ direccio.2 }}" min="{{ direccio.2 }}" max="{{ direccio.3 }}">
                                </div>
                                <div class="col-sm-5">
                                    <label for="vacantes"></label>Cantidad de vacantes *</label>
                                    <input type="number" name="vacantes"
                                        placeholder="Ingrese cantidad de puestos a ocupar" required minlength="1"
                                        maxlength="20" size="20" class="form-control">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-5">
                                    <label for="perfil"></label>Perfiles *</label>
                                    <select onchange="mostrarBoton('perfil')" name="perfil" id="perfil" required class="selectpicker form-control">
                                        <option value=""></option>
                                        {% for p in dataperfil %}
                                        <option value="{{ p.0 }}">{{ p.0 }} - {{ p.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                    <a class="btn btn-primary" onclick="verAtributos('perfil')" id="btnVer" style="display: none; margin: 14px;" >Ver Atributos</a>

                            </div>
                            </br>
                            </br>
                            <div class="row">
                                <div class="col-sm-10">
                                    <label for="alcance"></label>Alcance *</label>
                                    <textarea name="alcance" required placeholder="Ingrese el alcance del puesto"
                                        required rows="1" cols="150" class="form-control">
                                    </textarea>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-10">
                                    <label for="tareas"></label>Tareas *</label>
                                    <textarea name="tareas" required placeholder="Ingrese las tareas" required rows="1"
                                        cols="150" class="form-control">
                                    </textarea>
                                </div>
                            </div>
                            </br>
                            </br>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>

    
    function mostrarBoton () {
        var perfil = document.getElementById('perfil').value;
        if (perfil != "" ) {
            btnVer.style.display = 'inline';
        }
        else {
            btnVer.style.display = 'none';
        }
    }

    function verAtributos () {
        var perfil = document.getElementById('perfil').value;
        window.location="/veratributos/"+perfil;
    }
</script>





{% endblock %}