{% extends 'layout.html' %}

{% block body %}
<h1> Quienes Somos </h1>
<table>
    <tr>
        <td style="width: 15%;"></td>
        <td style="text-align: justify;">
            <h5>
                <p>
                    <br> <br>
                    Somos Lorena Avila, Daniel Iñarra, Gabriela Lindenberg y Fabio Peñalva, integrantes de la Direccion de Informatica desde hace varios años. <br><br>
                    Cuando tuvimos que desarrollar la tesis de nuestra Licenciatura, detectamos una necesidad de los empleados y mandos intermedios o superiores del Instituto no satisfecha, relacionada con la posibilidad de buscar nuevos horizontes dentro del mismo, así como descubrir potenciales talentos para nutrir equipos ya existentes. <br> <br>
                    En consecuencia,  desarrollamos esta solución informática que permite establecer matching entre “búsquedas (activas o potenciales) y buscados. <br> <br> <br>
                    La llamamos DePeC (Desarrollo Personal de Carrera) ya que deseamos que pueda serles útil y ayudarlos a potenciar su carrera en INDEC. <br> <br> <br> <br> <br> <br> <br>
                    
                </p>
            </h5>
        </td>
        <td style="width: 15%;"></td>
    </tr>
</table>



{% endblock %}